.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5bc0eb;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

  }
.logo{
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
}