.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #eb5b5b;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
.logo{
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
}
.navLinks{
    border: none;
    background: none;
    color: white;
}
.navLinks:hover{
    background: whitesmoke;
    color: #eb5b5b;
    border-radius: 10px;
}