.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  min-height: 100svh;
  min-width: 100svw;
  font-family: var(--font-geist-sans);
  margin: 0;
  padding: 0;
}
.navbar {
  width: 100vw;
  height: 65px;
  background-color: #2596be;
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  top: 0;
  padding-right: 30px;
}
.navbar a {
  color:rgb(255, 237, 222);
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
}
.main {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
}
.welcomeSection{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: radial-gradient(ellipse at bottom, #090909, #111) ;
  color: rgb(255, 237, 222);
  margin: 0;
}
.night{
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateZ(20deg);
}
.star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 100px;

  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  animation: tail 5s ease-in-out infinite,
              falling 3s ease-in-out infinite;
}
@keyframes tail{
  0%{
      height: 0;
  }
  30%{
      height: 100px;
  }
  100%{
      height: 0;
  }
}
@keyframes falling{
  0%{
      transform: translateX(0);
  }
  100%{
      transform: translateX(300px);
  }
}
.star::before, .star::after {
  content: '';
  position: absolute;
  top: calc(10% - 2px);
  right: 0;
  height: 4px;
  background: linear-gradient(-45deg, rgba(0,0,255,0), #5f91ff, rgba(0,0,255,0));
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation: shining 3s ease-in-out infinite;
}
@keyframes shining{
  0%{
      width: 0px;
  }
  50%{
      width: 30px;
  }
  100%{
      width: 0px;
  }
  
}
.star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1) {
  top: calc(50% - 100px);
  left: calc(50% - 250px);
  animation-delay: 1s;
}

.star:nth-child(1)::before, .star:nth-child(1)::after {
  animation-delay: 1s;
}

.star:nth-child(2) {
  top: calc(50% - 50px);
  left: calc(50% - 200px);
  animation-delay: 1.2s;
}

.star:nth-child(2)::before, .star:nth-child(2)::after {
  animation-delay: 1.2s;
}

.star:nth-child(3) {
  top: calc(50% - 0px);
  left: calc(50% - 150px);
  animation-delay: 1.4s;
}

.star:nth-child(3)::before, .star:nth-child(3)::after {
  animation-delay: 1.4s;
}

.star:nth-child(4) {
  top: calc(50% + 50px);
  left: calc(50% - 200px);
  animation-delay: 1.6s;
}

.star:nth-child(4)::before, .star:nth-child(4)::after {
  animation-delay: 1.6s;
}

.star:nth-child(5) {
  top: calc(50% + 100px);
  left: calc(50% - 250px);
  animation-delay: 1.8s;
}

.star:nth-child(5)::before, .star:nth-child(5)::after {
  animation-delay: 1.8s;
}

.projects {
  background-color: #2a0d34;
  text-align: center;
}
.projects h1 {
  padding: 20px;
}
.workProjects{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.selfMadeProjects{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.link{
  border-radius: 5%;
  border: #be4d25 solid 15px;
  margin: 20px;
  width: 350px;
}
.link p{
  display: flex;
  justify-content: center;
  background-color: gray;
  width: 320px;
}
.contact{
  background-color: #be4d25;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contact{
  margin: 0;
  padding: 0;
}
.contact .contactLinks{
  display: flex;
  flex-direction: row;
  padding: 30px;
}
.contact a{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
@media only screen and (max-width: 768px)  {
  .workProjects{
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  .selfMadeProjects{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .link p{
    display: flex;
    justify-content: center;
    background-color: gray;
    padding: 10px;
    width: 320px;
  }
}
