.page{
  
}
.navbar {
  display: flex;
  justify-content:end;
  align-items: center;
  padding: 1rem;
  background: #333;
  color: white;
}
.navLinks{
  padding-right: 50px;
}
.night{
  position: absolute;
  width: 50%;
  height: 50%;
  transform: rotateZ(35deg);
}
.star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 100px;
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  animation: tail 5s ease-in-out infinite,
              falling 3s ease-in-out infinite;
}
@keyframes tail{
  0%{
      height: 0;
  }
  30%{
      height: 100px;
  }
  100%{
      height: 0;
  }
}
@keyframes falling{
  0%{
      transform: translateX(0);
  }
  100%{
      transform: translateX(300px);
  }
}
.star::before, .star::after {
  content: '';
  position: absolute;
  top: calc(10% - 2px);
  right: 0;
  height: 4px;
  background: linear-gradient(-45deg, rgba(0,0,255,0), #5f91ff, rgba(0,0,255,0));
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation: shining 3s ease-in-out infinite;
}
@keyframes shining{
  0%{
      width: 0px;
  }
  50%{
      width: 30px;
  }
  100%{
      width: 0px;
  }
  
}
.star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1) {
  top: calc(50% - 100px);
  left: calc(50% - 250px);
  animation-delay: 1s;
}

.star:nth-child(1)::before, .star:nth-child(1)::after {
  animation-delay: 1s;
}

.star:nth-child(2) {
  top: calc(50% - 50px);
  left: calc(50% - 200px);
  animation-delay: 1.2s;
}

.star:nth-child(2)::before, .star:nth-child(2)::after {
  animation-delay: 1.2s;
}

.star:nth-child(3) {
  top: calc(50% - 0px);
  left: calc(50% - 150px);
  animation-delay: 1.4s;
}

.star:nth-child(3)::before, .star:nth-child(3)::after {
  animation-delay: 1.4s;
}

.star:nth-child(4) {
  top: calc(50% + 50px);
  left: calc(50% - 200px);
  animation-delay: 1.6s;
}

.star:nth-child(4)::before, .star:nth-child(4)::after {
  animation-delay: 1.6s;
}

.star:nth-child(5) {
  top: calc(50% + 100px);
  left: calc(50% - 250px);
  animation-delay: 1.8s;
}

.star:nth-child(5)::before, .star:nth-child(5)::after {
  animation-delay: 1.8s;
}